# Process ISEAR Dataset

In [3]:
import pandas as pd

df = pd.read_csv('data/isear/eng_dataset.csv', header=0)

df

         ID sentiment                                            content
0     10941     anger  At the point today where if someone says somet...
1     10942     anger  @CorningFootball  IT'S GAME DAY!!!!      T MIN...
2     10943     anger  This game has pissed me off more than any othe...
3     10944     anger  @spamvicious I've just found out it's Candice ...
4     10945     anger  @moocowward @mrsajhargreaves @Melly77 @GaryBar...
...     ...       ...                                                ...
7097  40781   sadness  @VivienLloyd Thank you so much! Just home - st...
7098  40782   sadness              Just put the winter duvet on ‚òÉÔ∏è‚ùÑÔ∏èüå¨‚òîÔ∏è
7099  40783   sadness  @SilkInSide @TommyJoeRatliff that's so pretty!...
7100  40784   sadness  @BluesfestByron second artist announcement loo...
7101  40785   sadness  I can literally eat creamy pesto pasta topped ...

[7102 rows x 3 columns]

In [40]:
emo2id = {
    "anger": 0,
    "disgust": 1,
    "fear":2,
    "joy":3,
    "neutral":4,
    "sadness":5,
    "surprise":6
}

In [41]:
df['emo_id'] = df['sentiment'].map(emo2id)

In [42]:
df

,ID,sentiment,content,emo_id
0,10941,anger,At the point today where if someone says somet...,0
1,10942,anger,@CorningFootball IT'S GAME DAY!!!! T MIN...,0
2,10943,anger,This game has pissed me off more than any othe...,0
3,10944,anger,@spamvicious I've just found out it's Candice ...,0
4,10945,anger,@moocowward @mrsajhargreaves @Melly77 @GaryBar...,0
...,...,...,...,...
7097,40781,sadness,@VivienLloyd Thank you so much! Just home - st...,5
7098,40782,sadness,Just put the winter duvet on ‚òÉÔ∏è‚ùÑÔ∏èüå¨‚òîÔ∏è,5
7099,40783,sadness,@SilkInSide @TommyJoeRatliff that's so pretty!...,5
7100,40784,sadness,@BluesfestByron second artist announcement loo...,5
7101,40785,sadness,I can literally eat creamy pesto pasta topped ...,5

In [43]:
df_tsv = df[['content', 'emo_id', 'ID']]
df_tsv

                                                content  emo_id     ID
0     At the point today where if someone says somet...       0  10941
1     @CorningFootball  IT'S GAME DAY!!!!      T MIN...       0  10942
2     This game has pissed me off more than any othe...       0  10943
3     @spamvicious I've just found out it's Candice ...       0  10944
4     @moocowward @mrsajhargreaves @Melly77 @GaryBar...       0  10945
...                                                 ...     ...    ...
7097  @VivienLloyd Thank you so much! Just home - st...       5  40781
7098              Just put the winter duvet on ‚òÉÔ∏è‚ùÑÔ∏èüå¨‚òîÔ∏è        5  40782
7099  @SilkInSide @TommyJoeRatliff that's so pretty!...       5  40783
7100  @BluesfestByron second artist announcement loo...       5  40784
7101  I can literally eat creamy pesto pasta topped ...       5  40785

[7102 rows x 3 columns]

In [44]:
emo2id

{'anger': 0,
 'disgust': 1,
 'fear': 2,
 'joy': 3,
 'neutral': 4,
 'sadness': 5,
 'surprise': 6}

In [45]:
df_tsv.to_csv("data/isear/all_data.tsv", sep="\t")

In [22]:
import collections
from sklearn.model_selection import train_test_split

In [49]:
for size in [100,200,500,1000, int(0.8*len(df_tsv))]:
    xtrain, xtest, ytrain, ytest = train_test_split(df_tsv, df_tsv['emo_id'], train_size=size, stratify=df_tsv['emo_id'])
    xtrain.to_csv(f"data/isear/train_data_{size}.tsv", sep="\t", header=None, index=None)
    xeval, xtest, yeval, ytest = train_test_split(xtest, xtest['emo_id'], train_size=len(xtest)//2, stratify=xtest['emo_id'])
    display(collections.Counter(yeval))
    display(collections.Counter(ytest))
    xeval.to_csv(f"data/isear/eval_data_{size}.tsv", sep="\t", header=None, index=None)
    xtest.to_csv(f"data/isear/test_data_{size}.tsv", sep="\t", header=None, index=None)

Counter({2: 1110, 0: 838, 3: 797, 5: 756})

Counter({2: 1110, 0: 839, 3: 796, 5: 756})

Counter({2: 1094, 0: 827, 3: 785, 5: 745})

Counter({2: 1095, 0: 826, 3: 785, 5: 745})

Counter({2: 1047, 0: 791, 3: 751, 5: 712})

Counter({2: 1047, 0: 790, 3: 751, 5: 713})

Counter({2: 967, 0: 731, 3: 694, 5: 659})

Counter({2: 968, 0: 731, 3: 694, 5: 658})

Counter({2: 225, 0: 170, 3: 161, 5: 154})

Counter({2: 226, 0: 170, 3: 162, 5: 153})

In [32]:
xtrain

                                                content  emo_id     ID
6879  Pops are joyless, soulless toys which look nea...       3  40563
6036  lol! no mention of pak PM or even his speech o...       2  30543
3376  @HunterDean_ [he gives a gleeful squeak and wr...       2  30863
5155  @TJ_FASHO lmao clown my own hair I'm going to ...       0  20809
6537  @everton_de_leon @sterushton Genuinely grim st...       3  40221
...                                                 ...     ...    ...
3884  If I spend more than ¬£10 in shimmy on ¬£1 drink...       1  10395
6809  The man who is a pessimist before 48 knows too...       3  40493
5275  @Mickeyplyler @QualkTalk the refs are in GT's ...       0  20929
3384             @hesham786 that's the spirit #optimism       2  30871
5556  @alpuzz Ah, but once I got it to work, there w...       2  30063

[100 rows x 3 columns]